.text-center {
  text-align: center;
}

.text-bold {
  font-weight: bold;
}
.login-div {
  display: flex;
}
.l-img, .l-div {
  width: 50%;
  height: 40vh;
} 
.l-img {
  background-color: aqua;
}
.l-div {
  background-color: pink;
}
.seperator {
  height: 1vw;
  background-color: grey;
}
.heading {
  color:rgb(33, 30, 98);
  margin: auto;
  padding: 2%;
  font-size: 2vw;
  
}
.feature-grid {
  padding: 5%;
    background: #ECECEC;
    text-align: center;
    font-weight: 300;
}
.feature-grid h3 {
  margin-top: 4%;
}
.feature-grid  img{
  margin: auto;
  width: 40%;
  height: auto;
}
.feature-card {
  display: flex;
  flex-direction: column;
  background-color:rgb(244, 244, 244);
  border: 1px solid rgba(206, 206, 206, 0.876);
}
.feature-card:hover {
border-color: brown;
}
